			<!-- - fragment -->
	<div th:fragment="content">
	
		<!-- mio script -->
	<script defer th:src="@{/js/scriptTabellaElementi.js}"></script>
	
		<div th:if="${ successMessage != null && !successMessage.isEmpty() }" id="idAlertBox" class="alert alert-success"
		data-bs-dismiss="alert" role="alert">
		<span th:text="${successMessage }"></span>
	</div>
	
	<div th:if="${ errorMessage != null && !errorMessage.isEmpty() }" id="idAlertBox" class="alert alert-success"
		data-bs-dismiss="alert" role="alert">
		<span th:text="${successMessage }"></span>
	</div>
	

	<br>
	<!-- add new element  -->
	<div class="d-flex justify-content-end">
		<button type="button" class="button btn btn-primary bg-primary" id="buttonNewElemento"
			onclick="location.href='/newElementoView'"> <i class=" fa-solid fa-plus fa-xl"></i> Nuovo elemento
		</button>
	</div>
	<br>

	<table id="tableElementi">
		<thead>
			<tr>
				<td>Id</td>
				<td>Nome</td>
				<td>Seriale Prodotto</td>
				<td>Quantita</td>
				<td>Modifica</td>
				<td>Cancella</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

			<div th:replace="fragments/footer :: footer"> </div>
