		<!-- - fragment -->
	<div th:fragment="content">
	
	<!-- - error or success message box  -->
	
	<div th:if="${ errorMessage != null && !errorMessage.isEmpty() }" id="idAlertBox" class="alert alert-success"
		data-bs-dismiss="alert" role="alert">
		<span th:text="${successMessage }"></span>
	</div>
	
	<!-- - error from spring security  -->
	
	<div th:if="${param.error != null}" class="alert alert-danger">
		<strong>Failed to login.</strong>
		<span th:if="${session[SPRING_SECURITY_LAST_EXCEPTION]!= null}">
			<span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"> Invalid credentials</span>
		</span>
	</div>
	<div th:if="${param.logout != null}" class="alert alert-success">You have been logged out.</div>

	<!-- - form login  -->

	<form action="/loginCheck" method="POST" class="form-actions" cssClass="form-horizontal">
		<div class="mb-3">
			<label for="idUsername" class="form-label"> Username </label>
			<input name="username" type="email" id="idUsername" class="form-control" aria-describedby="username">
		</div>
		<div class="mb-3">
			<label for="idPassword" class="form-label">Password</label>
			<input name="password" id="idPassword" type="password" class="form-control">
		</div>
		<button type="submit" id="idSubmit" name="submit" class="btn btn-primary">Submit</button>
	</form>