		<!-- - fragment -->
	<div th:fragment="content">

		<!-- - header -->
	<div th:replace="fragments/header :: header"> </div>
		<!-- - navbar -->
	<div th:replace="fragments/navbar :: navbar"> </div>

	<!-- mio script -->
	<script defer th:src="@{js/scriptNewElemento.js}"></script>

	<br>

	<!-- alert box  -->
	<div th:if="${ successMessage != null && !successMessage.isEmpty() }" id="idAlertBox" class="alert alert-success" data-bs-dismiss="alert" role="alert">
		<span th:text="${successMessage }"></span>
	</div>

	<div th:if="${ errorMessage != null && !errorMessage.isEmpty() }" id="idAlertBox" class="alert alert-success" data-bs-dismiss="alert" role="alert">
		<span th:text="${successMessage }"></span>
	</div>




	<!-- - form login  -->
	<form th:action="@{/newElemento}" modelAttribute="Elemento" th:object="${Elemento}" method="POST">
		<div class="mb-3">
			<label for="nomeProdotto" class="form-label"> Nome Prodotto </label> <input name="nomeProdotto" type="text" id="idNomeProdotto" class="form-control"
				th:field="*{nome}" th:value="*{nome}" required>
		</div>
		<div class="mb-3">
			<label for="idSerialeprodotto" class="form-label"> Seriale Prodotto </label> <input name="serialeprodotto" id="idSerialeprodotto" type="text"
				class="form-control" th:field="*{serialeprodotto}" th:value="*{serialeprodotto}" required>
		</div>
		<div class="mb-3">
			<label for="idQuantita" class="form-label"> Quantita </label> <input name="quantita" id="idQuantita" type="number" class="form-control"
				th:field="*{quantita}" th:value="*{quantita}" required>
		</div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<!-- - footer -->
	<div th:replace="fragments/footer :: footer"> </div>